# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Database
game.db
*.sqlite3

# Environment variables
.env

# OS Files
.DS_Store
Thumbs.db
rts.code-workspace
castle.png
cowboy.png
ninja.png
pirate.webp
